@import "../../scss/variables.scss";

.about-me {
  width: 100%;
  background: $white;
  box-sizing: border-box;
  position: relative;
  padding: 6rem 1rem;

  .about-me-content {
    margin: 0 auto;
    max-width: 20rem;
    min-width: 60%;
    color: $dark-grey;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;

    .about-me-content-text {
      text-align: center;
      font-size: $font-size-extra-large;
      line-height: 2rem;
      max-width: 31.25rem;
      color: $text-grey;
      font-style: italic;

      &::first-letter {
        initial-letter: 3;
        margin-right: 0.75em;
      }
    }
  }
}

// Tablet design
@media only screen and (min-width: $screen-tablet) and (max-width: $screen-desktop) {
  .about-me {
    .about-me-content {
      max-width: unset;
      min-width: unset;

      .about-me-content-text {
        max-width: 20rem;
      }
    }
  }
}

// Mobile design
@media only screen and (max-width: $screen-tablet) {
  .about-me {
    .about-me-content {
      max-width: unset;
      min-width: unset;
      flex-direction: column;

      .about-me-content-text {
        max-width: unset;
      }
    }
  }
}