@import "../../scss/variables.scss";

.contact {
    display: flex;
    box-sizing: border-box;
    padding: 1rem;
    background: $background-white;
    width: 100%;
    padding-bottom: 3rem;
    position: relative;

    .contact-content {
        margin: 0 auto;
        max-width: 20rem;
        min-width: 60%;
        color: $dark-grey;

        .contact-form {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .contact-content-title {
            font-family: $font-allison;
            font-weight: $font-weight-regular;
            font-size: 3.5rem;
            text-align: center;
        }
    }
}

// Mobile design
@media only screen and (max-width: $screen-mobile) {
    .contact {
        .contact-content {
            margin: unset;
            width: 100%;
            max-width: unset;
        }
    }
}