@import "../../scss/variables.scss";

.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
    position: relative;
    z-index: 1;

    .header-logo {
        color: $dark-grey;
        font-family: $font-allison;
        font-size: 5rem;
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .header-mobile-icon {
        position: absolute;
        left: 1rem;
        top: 1rem;
        cursor: pointer;
        display: none;
    }
}

// Mobile design
@media only screen and (max-width: $screen-tablet) {
    .header {
        padding: 0.5rem 1rem;

        .header-logo {
            gap: 1rem;

            img {
                height: 4rem;
            }

            font-size: 1.75rem;
        }

        .header-mobile-icon {
            display: block;
            z-index: 101;
        }
    }
}
