@import "../../scss/variables.scss";

.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
    position: relative;
    z-index: 1;

    .header-logo {
        color: $dark-grey;
        font-family: $font-allison;
        font-size: 5rem;
        display: flex;
        align-items: center;
    }
}