@import "../../scss/variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    margin-top: auto;
    background-color: $light-pink;
    position: relative;

    .footer-row {
        display: flex;
        margin: 0 auto;
        gap: 1.25rem;
        padding: 1rem 0;

        .footer-social-media {
            &:hover {
                opacity: 0.2;
                transition: all 0.4s;
            }
        }
    }

    .footer-copyright {
        box-sizing: border-box;
        width: 100%;
        color: $light-pink;
        text-align: center;
        padding: 0.5rem;
        background-color: $dark-grey;
    }
}
