@import "./scss/variables.scss";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $dark-grey;
  font-family: $font-albert;
}

@font-face {
  font-family: 'Allison';
  src: local('Allison'),
       url('./fonts/allison-script.regular.otf') format('truetype');
}

.error-message {
  margin-top: 0.25rem;
  height: 1rem;
  color: $red;
  font-size: $font-size-regular;
}