@import "./scss/variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Myriad;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-size: auto;
  background-attachment: scroll;
  background-color: $dark-grey;
  padding-bottom: 0px;
  background-position: left top;
  padding-top: 0px;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
